# launch rtabmap_offload node with parameters for offloading to a remote machine
ros2 launch rtabmap_offload node.launch.py \
    corelink_endpoint:=corelink.hpc.nyu.edu \
    corelink_port:=20012 \
    corelink_workspace:=Chalktalk \
    corelink_data_protocol:=udp \
    topic_name:=/chatter \
    topic_type:=std_msgs/msg/String \
    topic_direction:=to_corelink \
    qos:=10

